body{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: #00439c;
    color: white;
}
.jumbotron-section{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
}
div .card{
    background: none;
    color: white;
    border: none;
}
nav .navbar{
    padding-top: 120px;
}
.second-jumbotron-section{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.games{
    background-color: #1f1f1f;
} 
.ps-plus-section{
    background-color: #bebcbb;
}
.ps-now-section{
    background-color: #161c3b;
}
.footer-list a{
    text-decoration: none;
    color: white;
    line-height: 2rem;
    font-weight: 300;
}
