body{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: #00439c;
    color: white;
    padding-top: 3.5rem;
}
.jumbotron-section{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 300px;
}
div .card{
    background: none;
    color: white;
    border: none;
}
nav .navbar{
    padding-top: 120px;
}
.titolo{
    font-size: 3rem;
}
.secondary-title{
    font-size: 2.5rem;
}
.section-gap{
    margin-bottom: 5rem;
}
.paragraph{
    margin-bottom: 3.5rem;
}
.sony__bar img {
    max-width: 5rem;
    min-height: 30px;
    }
.paragraph-title{
    font-size: 2.2rem;
}
.second-jumbotron-section{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.game,
.underline,
.social,
.tools{
    transition: 0.1s;
}
.games{
    background-color: #1f1f1f;
} 
.ps-plus-section{
    background-color: #bebcbb;
}
.ps-now-section{
    background-color: #161c3b;
}
.footer-list a{
    text-decoration: none;
    color: white;
    line-height: 2rem;
    font-weight: 300;
}



/* HOOOVER  */
.game:hover{
    padding: 3px;
    border: 2px solid #0070d1;
}
.underline:hover{
    border-bottom: 2px solid #0070d1;
    transform: scale(1.1);
}
.social:hover{
    transform: scale(0.9);
}
.tools{
    color: #0070d1;
}